
.map-wrapper {
  position: relative; 
  width: 70vw;
  height: 50vh;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(76, 84, 235, 0.2);
  border: 3px solid rgba(255, 255, 255, 0.1);
  overflow: hidden; 
}


.map-container {
  width: 100%;
  height: 100%;
}


.silebar {
  position: absolute; 
  top: 15px;          
  left: 15px;         
  z-index: 10;       
  
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 8px 15px;
  font-family: monospace;
  border-radius: 8px;
  font-size: 0.9rem;
  backdrop-filter: blur(4px); 
}

.reset-button {
  position: absolute; 
  top: 15px;         
  right: 15px;        
  z-index: 10;        
  
  background-color: #ff5252;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.reset-button:hover {
  background-color: #ff1744;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  letter-spacing: -1px;
  margin-bottom: 0.5rem;
  color: #50372c;
}

.mapboxgl-popup-content {
              
  
  border: 1px solid #eeff00; 
}